/*
* by: Saumya
* contact: 2saumyaray@gmail.com
* version: 1.0.0
*/

/* application */

.header_image{
	width: 100%;
}

.rounded{
  border-radius: 2.0rem !important;
}
.pb-3, .py-3 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link  {
  font-size: 0.8em;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
  color: #fff;
  /*background: #f00;*/
  /*background: rgba(76, 175, 80, 0.3);*/

  background: rgba(255,255,255,0.1);
  border: 2px solid #000;
  

  font-size: 0.8em;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
  color: #fff;
  /*background: #1abc9c;*/
  /*background: rgba(76, 175, 80, 0.3);*/

  background: rgba(255,255,255,0.1);
  border: 2px solid #000;


  font-size: 0.8em;
}

.navbar-brand {
  /* border: 1px solid #000; */
}

/* mine */

.header_container_over_image{
  position: absolute;
  top:160px;
  left: 120px;
}
.header_title{
  font-size: 2em;
  font-weight: 900;
}
.header_subtitle{
  font-size: 4em;
  font-weight: 600;
  margin-top: -20px;
}
.btn_style_1{
  background-color: #019e01;
  color: #ffffff;
  width: 200px;
  height: 60px;
  text-align: center;
  padding-top: 15px;
  font-size: 20px;

  border-radius: 0px 30px 0px 30px;
  margin-top: 20px;
}
.btn_style_2{
  display: inline-block;
  background-color: #019e01;
  color: #ffffff;
  width: 110px;
  height: 40px;
  text-align: center;
  padding-top: 6px;
  font-size: 16px;

  border-radius: 0px 14px 0px 14px;
}
.btn_style_3{
  display: inline-block;
  
  
  width: 100px;
  height: 40px;
  text-align: center;
  padding-top: 4px;
  font-size: 16px;

  border-radius: 0px 14px 0px 14px;
  border: solid yellow 0.2em;

  margin-left: 10px;
}
.info_1{
  margin-top: 120px;
  color: #ffffff;
  font-size: 1.2em;
}
.btn_wp_orderNow{
  background-color: #019e01;
  color: #ffffff;
  width: 200px;
  height: 60px;
  text-align: center;
  padding-top: 15px;
  font-size: 20px;

  border-radius: 30px 30px 30px 30px;
  margin-top: 0px;
  margin-left: 700px;
}

.mm_color{
  color: #f9a200;
}


.welcome_heading{
  font-size: 2rem;
  line-height: 2.5rem;
  margin-top: -70px;

  font-weight: 600;
}
.welcome_sub_heading{
  font-size: 1.2rem;
  margin-top: 30px;

  font-weight: 600;
}

.customer_image{
  margin-top: 30px;
  width: 100px;
  height: 100px;

  background-color: #fff7c9;
  border-radius: 10px 10px;
}

.deal_of_day{
  background-color: #fff7c9;
  margin-top: 30px;
  padding: 20px;
  border-radius: 0px 50px 0px 50px;
}
.deal_of_day_counter_box{
  /*
  background-color: #f9a200;
  height: 80px;
  */
}
.deal_of_day_white_box{
  background-color: #ffffff;
  
  height: 240px;
  border-radius: 30px;
  padding: 20px;
}
.free_home_delivery{
  color: #019e01;
  font-weight: 900;
  padding-top: 24px;
}


.price_box{
  margin-bottom: 1em;
}
.actual_price{
  font-size: 1.2em;
  font-weight: 200;
  color: #aaa;
  text-decoration: line-through #FF3028;
}
.now_price{
  font-size: 1.2em;
  font-weight: 900;
  color: #019e01;
}

.left_image{
  padding-left: 100px;
  padding-top: 40px;
}
.left_image_btm_text{
  padding-left: 200px;
  padding-top: 10px;
}

.counter{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  
  text-align: center;
  font-size: 24px;
  line-height: 16px;

  border: 3px solid #fff;
  padding-top: 12px;
}

.counter_text{
  font-size: 0.6em;
}

.order_process{
  margin: 0 160px;
}

.order_step{
  font-size: 3em;
  font-weight: bold;
}
.order_step_text{
  display: inline-block;
  width: 140px;
}

.title_1{
  font-size: 1.2rem;
  margin-top: 3em;
  margin-bottom: 3em;

  font-weight: 600;
}

.from_the_farm{
  font-size: 1.2rem;
  margin-top: 0em;
  margin-bottom: 1em;

  font-weight: 600;
}

.from_the_farm_image{
  width: 100%;
}

.founder_text_box{
  padding-top: 10px;
  padding-left: 34px;
}
.founder_text_name{
  font-weight: bold;
  font-size: 1.0em;
}
.founder_text_post{
  font-weight: bold;
  font-size: 0.8em;
  color: #019e01;
  padding-left: 1em;
}

.celebrate_king{
  height: 150px;
}


.footer {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  /*background-color: #fff7c9;*/
  background-color: #fff;
  color: #000;
}
.footer_text_1{
  font-size: 0.8em;
}
.footer_text_2{
  font-size: 0.8em;

  padding-top: 4em;
  padding-left: 4em;
}

.footer_text_socialmedia_box{
  margin-top: 4em;
  font-size: 1em;
}

.footer_text_socialmedia_box a {
  /* color: #1abc9c; */
  color: #0095ff; 
  margin-left: 1em;
}

/* mobile view */
@media (max-width: 800px) {

  .header_container_over_image{
    position: absolute;
    top: 70px;
    left: 16px;
  }
  .header_title{
    font-size: 0.8em;
    font-weight: 900;
  }
  .header_subtitle{
    font-size: 0.6em;
    font-weight: 600;
  }
  .btn_style_1{
    background-color: #019e01;
    color: #ffffff;
    width: 80px;
    height: 24px;
    text-align: center;
    padding-top: 2px;
    font-size: 12px;

    border-radius: 0px 12px 0px 12px;
    margin-top: 4px;
  }
  .info_1{
    margin-top: 20px;
    color: #ffffff;
    font-size: 0.5em;
  }
  .btn_wp_orderNow{
    background-color: #019e01;
    color: #ffffff;
    width: 80px;
    height: 30px;
    text-align: center;
    padding-top: 6px;
    font-size: 12px;

    border-radius: 15px 15px 15px 15px;
    margin-top: 2px;
    margin-left: 200px;
  }

  .free_home_delivery{
    display: none;
  }

}
/* mobile view : END; */












