/*
* by: Saumya
* contact: 2saumyaray@gmail.com
* version: 1.0.0
*/

/* application */

.header_image{
	width: 100%;
}

.rounded{
  border-radius: 2.0rem !important;
}
.pb-3, .py-3 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link  {
  font-size: 0.8em;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
  color: #fff;
  /*background: #f00;*/
  /*background: rgba(76, 175, 80, 0.3);*/

  background: rgba(255,255,255,0.1);
  border: 2px solid #000;
  

  font-size: 0.8em;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
  color: #fff;
  /*background: #1abc9c;*/
  /*background: rgba(76, 175, 80, 0.3);*/

  background: rgba(255,255,255,0.1);
  border: 2px solid #000;


  font-size: 0.8em;
}

.navbar-brand {
  /* border: 1px solid #000; */
}











