/*
* by: Saumya
* contact: 2saumyaray@gmail.com
* version: 1.0.0
*/

/* application */

/*
.masthead {
 background-image: url("../img/malpani/hero_image.jpg");
 height: 600px;
 background-repeat: no-repeat;
 background-position: left;
 background-size: contain;
}
*/

.header_image{
	width: 100%;
}